:root{
    --red:#E50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover
}
body {
    background: var(--black) ;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left:15px;
    color: var(--red);
    font-family:Arial, Helvetica, sans-serif;
    font-size:50px;

}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 25px;
}
header nav a:hover{
    color: #fff;
}
.principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/Imagens/fundo.jpg");
    height: 600px;  
    background-size: cover;
    background-position-y: 35%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}
.principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;

}
.titulo {
    margin-top: 15% ;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
    background-color:rgba(0,0,0,.50) ;
    border: none;
    color: #ffffff;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color:black;
}
.botao i {
    margin-right: 8px;
}
.container{
    margin-left: 15px;
}
.principal .container{
    width: 60%;
    
}
.box_filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrossel {
    margin-top: 5px;
}